.pagination {
    display: block;
}

.page-number-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px 0px;
    user-select: none;
}

.pagination-nav {
    margin-right: 5px;
    padding: 5px;
    width: 30px;
    color: white;
    font-weight: bold;
    background-color: rgba(84, 133, 183, 0.2);
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    cursor: pointer;
}

@media (max-width:766px) {

    .page-number-list {
        justify-content: space-between;
    }

    .number {
        display: none;
    }

    .arrow {
        display: block;
        width: 100px;
        margin-right: 0px;
        padding: 10px 5px;
    }

}
