.scroll-to-top {
	margin: 20px;
	padding: 15px 10px 5px 10px;
	color: #DDD;
	text-align: center;
	background-color: #141E2A;
	position:fixed;
	bottom: 0px;
	right: 0px;
}
.scroll-to-top p {
	padding-top: 10px;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: bold;
}

@media (max-width: 425px) {
	.scroll-to-top {
		position: fixed;
		bottom: -20px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}
